/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #eaf2ff;
    color: #333;
    line-height: 1.6;
    padding: 25px;
}

/* Judul */
h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

/* Sub Judul */
h2 {
    color: #2d6cdf;
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 2px solid #2d6cdf;
    padding-bottom: 5px;
}

/* Foto Profil */
.foto-profil {
    text-align: center;
    margin-bottom: 20px;
}

.foto-profil img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #2d6cdf;
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
}

/* Paragraf */
p {
    margin-bottom: 15px;
}

/* Quote */
blockquote {
    background-color: #f4f8ff;
    border-left: 5px solid #2d6cdf;
    padding: 15px;
    margin: 20px 0;
    font-style: italic;
    border-radius: 5px;
}

/* Garis */
hr {
    margin: 25px 0;
}

/* Tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 20px;
}

th {
    background-color: #2d6cdf;
    color: white;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

/* List */
ul,
ol {
    margin-left: 25px;
    margin-bottom: 20px;
}

/* Audio */
audio {
    display: block;
    margin: 15px 0;
}

/* Link */
a {
    color: #2d6cdf;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #174ea6;
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 30px;
    color: #777;
    font-size: 14px;
}

/* Responsive */
@media (max-width:768px){

    body{
        padding:15px;
    }

    img{
        width:150px;
    }

    table{
        font-size:14px;
    }

}